* {
    box-sizing: border-box;
    font-size: 1em;
    list-style: none;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--clr-light);
    color: var(--clr-dark);
    display: flex;
    flex-direction: column;
    font-family: "Proxima Nova", sans-serif;
    margin: 0;
}

main {
    justify-content: center;
    width: 100%;
    padding: 2em;
}

/* Color palette */
:root {
    --clr-block: #ededed;
    --clr-blockhover: #dedede;
    --clr-light:#FFFFFF;
    --clr-gray: #666666;
    --clr-dark: #1F2123;
    --clr-primair-80: #DE9000;
    --clr-primair-50: #F7A100;
    --clr-icon: #DE9000;
    --clr-heart: #f03c2f;
    --clr-secundair-50:#0071B3;
    --clr-secundair-15: #E6F2F7;
}
.dark-mode {
    --clr-dark: #fff;
    --clr-light: #1F2123;
    --clr-block: #333;
    --clr-blockhover: #4a4a4a;
    --clr-gray: #999999;
    --clr-secundair-50:#60C5F8;
    --clr-secundair-15: #006199;
}
.contrast-mode {
    --clr-light:#FFFFFF;
    --clr-block: #ededed;
    --clr-blockhover: #999999;
    --clr-gray: #525252;
    --clr-primair-50: #53241B;
    --clr-icon: #53241B;
    --clr-primair-80: #321610;
    --clr-dark: #1F2123;
    --clr-secundair-50: #115D92;
    --clr-heart: #DB1D10;
}

a {
    text-decoration: none;
    line-height: 1.5em;
    color: black; 
}

header {
    display: flex;
    flex-direction: row;
    justify-content: start;
    gap: 2em;
    background: #f7a100;
    padding: 1em 1em;
}

.lay-out {
    display: flex;
    flex-direction: row;
    justify-content: start;
}

nav { 
    background: #f8c463;
    width: 13.5em;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 2em;
}